.flexing{
    display: flex;
    justify-content: center;
    align-items: center; 
}
/* .background::-webkit-scrollbar {
    display: none;
} */
.background{
    background-color: #3A3A3A;
    width: 450px; 
    /* height: 100vh; */
    height: 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    overflow-y: auto;  
    margin-top: 15px;
}
.icon{
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.arcade{
    width: 250px;
    height: 100px;
    margin: 0px 0px 20px 0px;
}
.btn-2{
    margin-bottom: 10px;
}

.or{
    margin: 10px 0px 15px 0px;
    color: #C4C4C4;
}
.need{
    color: white;
    margin-right: 7px;
}
.sign-up{
    color: #D3A341;
}
.account{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    border: 4px solid  #D3A341;
    outline: none;
    background-color: black;
}
.container{
    display:flex;
   align-items: center; 
   margin: 30px 0px 5px -163px;

}
.container2{
    display:flex;
   align-items: center; 
   color: white;
   margin:0px 0px 20px -85px;
}