.face-book{
    background-color: #3A559F;
    width: 37px;
    height: 37px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 70px 0px 8px; 
}
.facebook-icon{
    display: flex;
    border: 1px solid #696969;
    width: 280px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 48px;
    cursor: pointer;
}
.book{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.google-icon{
    display: flex;
    border: 1px solid #696969;
    width: 280px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 48px;
    margin-top: 20px;
    cursor: pointer;
}
.google{
    width: 35px;
    height: 35px;
    margin: 0px 80px 0px 8px;
}
.google-word{
    color: white;
}