 .line1{
    background-color:#FFFFFF;
    width: 425px;
    height: 1px;
 }
 .standard-line{
    display: flex;
    align-items: center;
 }
 .standard{
    margin: 0px 30px 0px 30px;
    color: white;
 }
 .brown{
    display: flex;
    background-image: linear-gradient(#A36F1A 100%, #593700 100%);
    justify-content: center;
    padding: 15px;
    border-radius: 20px 20px 0px 0px;
 }
 .right-arrow{
    width: 30px;
    margin-right: 40px;
 }
 .left-arrow{
    width: 30px;
    margin-left: 40px;
 }
 .main-scroll{
     background: rgba(138, 196, 228, 0.3);
     padding:20px 0px 20px 0px;
     border-radius: 0px 0px 20px 20px;

 }
 .scroll{
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding: 0px 110px 0px 110px;
 }
 .scroll::-webkit-scrollbar {
    display: none;
}
 .home{
   margin: 0px 70px 30px 70px;
 }