.btn{
    width: 220px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 48px;
    color:#C4C4C4;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.btn:focus{
    outline: none;
    border: 1px solid black;
   color: black;
   cursor: auto;
}
