.views{
    display: flex;
    align-items: center;
    background-color:#8AC4E4;
   width: 50px;
   padding: 10px 15px 10px 15px;
   border-radius: 30px 0px 0px 30px;
   color: white;
}
 
.eye{
    margin: 0px 10px 0px -8px;
}
.end{
    display: flex;
    justify-content: space-between;
}
.card{
    /* padding: 40px 20px 40px 20px; */
    width: 200px;
    padding: 15px 0px 20px 0px;
    background-image: linear-gradient(135.58deg, #CECECE -1.03%, #E4E4E4 53.69%, #9F9F9F 100%);
    border-radius: 20px;
}
.card-main{
    margin-left: 10px;
}
.machine{
    color: white;
    text-align: center;
    margin-top: 10px
}
.game{
    width: 150px;
}
.main-game{
    display: flex;
    justify-content: center;
    align-items: center;
}