/* ////////////////    HEADER     ///////////////// */
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3A3A3A !important;
  padding: 0px 70px 0px 70px;
}

.arcade3 {
  width: 135px;
  height: 50px;
}

.eight-credits {
  background-color: #D3A341;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  width: 100px;
  height: 60px;
}

.eight {
  color: white;
}

.credits {
  color: black;
}

.john-smith1 {
  display: flex;
  align-items: center;
  color: white;
}

.john {
  width: 40px;
}

.smith {
  margin-left: 10px;
}

/* ////////////////////    RESPONSIVE HEADER    ////////////////////////// */
.arcade3r {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

.john-r {
  width: 35px;
  margin-right: -50px;
  z-index: 1;
  position: relative;
}

.eight-credits-r {
  background-color: #D3A341;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  width: 100px;
  height: 60px;
  margin-right: 10px;
}

.responsive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3A3A3A !important;
  width: 270px;
  margin-left: 70px;
  display: none;
}

/* /////////////////////////    CARDS      ////////////////////////// */

/* //////////////////   HEADER3     /////////////////// */

.flexes2 {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding-right: 70px;
}

.card-one {
  width: 270px;
  padding-left: 70px;
}

.header3 {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 15px 0px 10px 15px;

}

.viewer-count {
  display: flex;
  border: 1px solid #D3A341;
  border-radius: 30px;
  justify-content: space-around;
  width: 200px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.two-five {
  color: white;
}

.viewer {
  color: #D3A341;
}

.john-smith {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

/* //////////////////     RESPONSIVE-HEADER3     ///////////////// */
.responsive-header3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  display: none;
}

.viewer-count-r {
  display: flex;
  justify-content: space-around;
  width: 60px;
  margin-right: 10px;
}

.john-smith1-r {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
}

/* //////////////////////////    CARD1    ///////////////////////// */
.viewers {
  background-color: #3A3A3A;
  padding: 10px 0px 20px 15px;
  overflow-y: auto;
  height: 27.55rem;
}

.viewers::-webkit-scrollbar {
  background-color: #603D02;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #D3A341;
}

.john-smith1 {
  display: flex;
  align-items: center;
  color: white;
  margin: 0px 0px 10px 0px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-around;
  width: 270px;
  background-color: black;
  padding: 10px 0px 10px 0px;
  display: none;
}

.userf {
  width: 30px;
}

.users {
  width: 50px;
}

/* /////////////////////      CARD2      //////////////////////// */

.responsive-header-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3A3A3A !important;
  width: 300px;
  padding: 0px 0px 0px 0px;
  display: none;
}

.card2 {
  background-color: #603D02 !important;
  width: 300px;
  /* height: 87.6vh; */
  position: relative;
  margin-top: 20px;
  border-radius: 20px 20px 0px 0px;
}

/* .card-five {
    background-color: #603D02 !important;
    width: 300px;
    height: 87.6vh;
    position: relative;
    margin-top: 20px;
    border-radius: 20px 20px 0px 0px;
} */
.card-five {
  height: 70.6vh;
}

.eye3 {
  width: 30px;
}

.main-game {
  display: flex;
  flex-direction: column;
}

.big-img {
  background-color: black;
  width: 300px;
}

.part-img {
  width: 300px;
  margin-bottom: -40px;
  position: relative;
  /* z-index: 100; */
}

.views2 {
  position: absolute;
  z-index: 120;
  left: 139px;
  margin-top: 20px;
  cursor: pointer;
}

.union {
  width: 120px;
  position: absolute;
  top: 27rem;
  left: 30px;
  cursor: pointer;
}

.drop {
  width: 80px;
  position: absolute;
  top: 27.9rem;
  right: 30px;
  cursor: pointer;
}

.vew {
  background-color: #9A6700;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  color: white;
  /* box-shadow: 20px solid black; */
  position: absolute;
  top: 25.5rem;
  right: 7rem;
  cursor: pointer;
}

.footer-2 {
  display: flex;
  justify-content: space-around;
  width: 270px;
  background-color: black;
  padding: 10px 0px 10px 0px;
  display: none;
}

/* ///////////////////////////       CARD-THREE       ////////////////////////////// */
.card6-main {
  width: 250px;
  background-color: grey;

}

.card6 {
  background-color: #603D02;
  height: 250px;
  width: 250px;
  position: relative;
}

.prize {
  text-align: center;
  color: white;
  margin: 10px 0px 20px 0px;
}

.circle {
  border: 10px solid #D3A341;
  background-color: #603D02;
  clip-path: polygon(50% 0%, 100% 41%, 100% 100%, 0 100%, 0 0);
  width: 230px;
}

.diamond {
  position: absolute;
  top: 10px;
  right: 15px;
}

.jackpot {
  color: #D3A341;
  font-size: 58.34px;
  margin-top: -28px;
}

.prize-prize {
  height: 14rem;
  overflow-y: auto;
  cursor: pointer;
}

.prize-prize::-webkit-scrollbar {
  display: none;
}

.boll {
  background-color: black;
  padding: 5px;
  width: 30px;
  border-radius: 5px;
}

.pokeball {
  width: 30px;
}

.name {
  color: white;
  margin-left: 10px;
}

.prize-name {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.footer-3 {
  display: none;
}

/* ///////////////////  RESPOSIVENESS  /////////////// */
@media (max-width: 972px) {
  .card-one {
    width: 240px;
  }

  .card2 {
    width: 270px;
  }

  .part-img {
    width: 270px;
  }

  .big-img {
    width: 270px;
  }

  .union {
    top: 24rem;
    left: 10px;
  }

  .drop {
    top: 25rem;
    right: 10px;
  }

  .vew {
    top: 21.5rem;
    right: 5rem;
  }

  .views2 {
    left: 123px;
    top: -5px;
  }

  .card6-main {
    width: 220px;
  }

  .card6 {
    width: 220px;
    height: 220px;
  }

  .jackpot {
    font-size: 51.3px;
    margin-top: -20px;
  }

  .circle {
    width: 200px;
  }
}

@media (max-width: 880px) {
  .card-one {
    width: 210px;
  }

  .viewer-count {
    width: 170px;
  }

  .card2 {
    width: 240px;
  }

  .part-img {
    width: 240px;
  }

  .big-img {
    width: 240px;
  }

  .union {
    top: 22rem;
    left: 10px;
  }

  .drop {
    top: 23rem;
    right: 10px;
  }

  .vew {
    top: 19.5rem;
    right: 5rem;
  }

  .views2 {
    left: 110px;
    top: -10px;
    font-size: 15px;
  }

  .eye3 {
    width: 25px;
  }

  .card6-main {
    width: 190px;
  }

  .card6 {
    width: 190px;
    height: 190px;
  }

  .jackpot {
    font-size: 44.3px;
    margin-top: -20px;
  }

  .circle {
    width: 170px;
  }

  .diamond {
    width: 30px;
  }

  .prize {
    margin: 21px 0px 16px 0px;

  }
}

@media (max-width: 785px) {
  .card-one {
    width: 180px;
  }

  .viewer-count {
    width: 140px;
  }

  .card2 {
    width: 210px;
  }

  .part-img {
    width: 210px;
  }

  .big-img {
    width: 210px;
  }

  .union {
    top: 22rem;
    left: 10px;
    width: 100px;
  }

  .drop {
    top: 23rem;
    right: 10px;
    width: 70px;
  }

  .vew {
    top: 19.5rem;
    right: 4rem;

  }

  .views2 {
    left: 98px;
    top: -10px;
    font-size: 12px;
  }

  .eye3 {
    width: 20px;
  }

  .card6-main {
    width: 160px;
  }

  .card6 {
    width: 160px;
    height: 160px;
  }

  .jackpot {
    font-size: 37.3px;
    margin-top: -20px;
  }

  .circle {
    width: 140px;
  }

  .diamond {
    width: 23px;
  }

  .prize {
    margin: 21px 0px 16px 0px;

  }
}

@media (max-width: 700px) {
  .card-one {
    width: 270px;
    margin-left: 100px;
    display: block;
  }

  .header2 {
    display: none;
  }

  .flexes2 {
    padding-bottom: 0px !important;
    background-color: white;
  }

  .responsive-header {
    display: block !important;
    display: flex !important;
    justify-content: space-between;
    margin-left: 170px;
  }

  .header3 {
    display: none;
  }

  .responsive-header3 {
    display: none;
    display: flex;
    width: 270px !important;
    background-color: black !important;
    margin-top: 0px !important;
    margin-bottom: -10px;
    padding: 10px 0px 10px 0px;
  }

  .viewers::-webkit-scrollbar {
    background-color: #603D02;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #D3A341;
  }

  .footer {
    display: block;
    display: flex;
    justify-content: space-around;
    padding-bottom: -30px;
  }

  /* ///////////    CARD2     //////////// */
  .card2 {
    display: none;
    margin-left: 150px;
    width: 300px;
    padding-bottom: 40px;
    height: 35rem;
  }

  .responsive-header-two {
    display: block;
    display: flex;
  }

  .part-img {
    width: 302px;
  }

  .big-img {
    width: 300px;
  }

  .views2 {
    top: 50px;
    left: 8.7rem;
    font-size: 15px;
  }

  .eye3 {
    width: 30px;
  }

  .union {
    top: 30rem;
    left: 2rem;
  }

  .vew {
    top: 28rem;
    right: 6rem;
  }

  .drop {
    top: 31rem;
    right: 2rem;
  }

  .card2 {
    margin-top: 0px;
  }

  .footer-2 {
    display: block;
    justify-content: space-around;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
    width: 300px;
  }

  .flexes2 {
    padding-bottom: 50px;
  }

  /* ///////////////////       CARD3        ////////////////////// */
  /* .responsive-header3{
        display: none;
    } */
  .responsive-header {
    display: block;
    display: flex;
    /* width: 300px !important ; */
    background-color: #3A3A3A !important;
    padding: 10px 0px 10px 0px;
    margin-top: -10px;
  }

  .card6-main {
    display: none;
    width: 300px;
    margin-left: 170px;
  }

  .circle {
    width: 200px;
  }

  .card6 {
    height: 220px;
    width: 220px;
    margin-top: -30px;
  }

  .diamond {
    width: 35px;
  }

  .padding {
    padding-left: 40px;
  }

  .prize {
    background-color: black;
    color: black;
    padding-bottom: 30px;
    margin-top: -10px;
  }

  .jackpot {
    font-size: 50.9px;
  }

  .footer-3 {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 0px 10px 0px;
    margin-bottom: -50px;
    cursor: pointer;

  }
}