.login{
    width: 115px;
    height: 35px;
    border: 1px solid #D3A341;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    decoration:none;
}
.signin{
    width: 115px;
    height: 35px;
    background-color:  #D3A341;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 10px;
}
.buttons{
    display: flex;
    cursor: pointer;
}
.arcade2{
    width: 135px;
    height: 50px;
}
.header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color:#3A3A3A;
    padding: 2px 70px 10px 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.bg-black{
    background-color: black;
    padding: 30px 0px 10px 0px;
    overflow-y: auto;
    height: 34.2rem;
}
.bg-black::-webkit-scrollbar {
    display: none;
}
