.flexing1{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.background1{
    background-color: #3A3A3A;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}
.icon1{
    width: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.arcade{
    width: 250px;
    height: 100px;
    padding: 10px 0px 10px 0px;
}
.or1{
    margin: 25px 0px 20px 0px;
    color: #C4C4C4;
}
.need1{
    color: white;
    margin-right: 7px;
}
.sign-up1{
    color: #D3A341;
}
.account1{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
